.panel.double
  %h3 Home <span>Bloop</span>
  %header
    For the benefit of all club members, the club organises club events throughout the calendar year.
  %h4 Tournaments
  %p
    FilBCS generally holds 4 tournaments per year. Three tournaments are allocated for internal club tournaments. Once a year we hold an interstate competition against our <a href="melboourneCounterparts#">Melbourne counterparts</a>. Tournaments are arranged by the programs committee and a variety of formats are utilised.
  %h4 Family Day
  %p
    We are first and foremost a family friendly club. In this regard, the club organises at least one family day per year. Typically a scenic outdoors venue is selected for a whole day of organised games, eating, drinking, and general merry making.

.panel.double
  %h3 Home <span>Bloop</span>
  %header
    For the benefit of all club members, the club organises club events throughout the calendar year.
  %h4 Tournaments
  %p
    FilBCS generally holds 4 tournaments per year. Three tournaments are allocated for internal club tournaments. Once a year we hold an interstate competition against our <a href="melboourneCounterparts#">Melbourne counterparts</a>. Tournaments are arranged by the programs committee and a variety of formats are utilised.
  %h4 Family Day
  %p
    We are first and foremost a family friendly club. In this regard, the club organises at least one family day per year. Typically a scenic outdoors venue is selected for a whole day of organised games, eating, drinking, and general merry making.
