.modal#extra-info-on-home
  .taskbar
    .close
      %a{href: "#"}
        x
  .content
    %p
      This is the content for the extra info on home modal popup... This is just an example
    %p
      To use a modal liek this, create another modal with a new ID value, and give the anchor tag which activates that modal a class "modal-trigger &lt;value&gt;"
