- @layout = "application"
- @page_title = "Homepage"
- @body_class = "homepage"
- @page_description = "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do."

.container
  .main
    .section-wrapper
      %section
        %article.one
          Article one
        %article.two
          Article two
    %nav
      .logo
      %ul
        %li
          .home
        %li
          .games
        %li.logo-space
          .events
        %li
          .members
        %li
          .gallery
        %li
          .contacts
