- @layout = "application"
- @page_title = "Homepage"
- @body_class = "homepage"
- @page_description = "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do."

.container
  .main
    %section
      %article
        .half
          %h2 Club
        .half
          %h2 General
    %nav
      %ul
        %li
          %div
            %span Home
            %span Home
        %li
          %div
            %span Games
            %span Games
        %li.logo-space
          %div
            %span Events
            %span Events
        %li
          %div
            %span Members
            %span Members
        %li
          %div
            %span Gallery
            %span Gallery
        %li
          %div
            %span Contacts
            %span Contacts
