- @layout = "application"
- @page_title = "Homepage"
- @body_class = "homepage"
- @page_description = "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do."

.ornament
.container
  .main
    .section-wrapper
      %section
        %article.one
          Article one
        %article.two
          Article two
        %article.three
          Article three
        %article.four
          Article four
        %article.five
          Article five
        %article.six
          Article six
    %nav
      %h1.logo FilBCS
      %ul
        %li
          .home
        %li
          .games
        %li.logo-space
          .events
        %li
          .members
        %li
          .gallery
        %li
          .contacts
