.panel.double.no-scroll
  %h3 Contact <span>information</span>
  %img{:src => "images/contacts01.jpg"}
  %p.intro
    <span>FilBCS-Filipino Badminton Club of Sydney<br />Sydney, Australia<br />Email: <a href="mailto:secretariat@filbcs.org.au" target="_blank">secretariat@filbcs.org.au</a><br /> Yahoo Group: Pinoy_Badminton_Oz
  %p.contacts
    <span>Club Contacts</span><br />
    President: <a href="mailto:president@filbcs.org.au" target="_blank">president@filbcs.org.au</a><br />
    Secretariat: <a href="mailto:secretariat@filbcs.org.au" target="_blank">secretariat@filbcs.org.au</a><br />


.panel.double.no-scroll
  %h3 Contact <span>form</span>
  %p
    <span>Interested in our club?</span><br /> Fill in the contact form below and the club secretary will endevour to get back to you shortly.
  .contact-form
    %form
      %input.full-name{:type => "text", :placeholder => "Your full name:"}
      %input.tel{:type => "text", :placeholder => "Your telephone:"}
      %input.email{:type => "text", :placeholder => "E-mail address:"}

      %textarea.message
      %input.send{:type => "submit", :value => "send"}
      %input.clear{:type => "submit", :value => "clear"}
