.panel.double
  %h3 Events <span>overview</span>
  %p
    <span>For the benefit of all club members, the club organises club events throughout the calendar year.</span>
  %dl
    %dt Tournaments
    %dd
      FilBCS generally holds 4 tournaments per year. Three tournaments are allocated for internal club tournaments. Once a year we hold an interstate competition against our <a href="http://www.pinoybadminton.org.au" target="_blank">Melbourne counterparts</a>. Tournaments are arranged by the programs committee and a variety of formats are utilised.
    %dt Family Day
    %dd
      We are first and foremost a family friendly club. In this regard, the club organises at least one family day per year. Typically a scenic outdoors venue is selected for a whole day of organised games, eating, drinking and general merry making.
    %dt Christmas Party
    %dd
      One special day in the year is set aside for the annual Christmas Party. Generally arranged for the kids and all club members. With a set program of events we kick back, look back at the achievements and highlights of the year, give out our club awards, watch the special kid's presentations, exchange presents and enjoy each other's company in the spirit of season.

.panel.double.no-scroll
  .part
    %h3 Upcoming <span>events</span>
    %img{:src => "images/history01.jpg"}
    %p.intro
      <span>Interstate 2011</span> On June 12 this year's annual FilBCS-PBC Interstate Cup was held! Club vs Club, State vs State! FilBCS takes the 3-PEAT!! Full write up <a href="#" target="_blank">here</a>.<br /> Full result <a href="#" target="_blank">here</a>.
  .part
    %h3 Intersession 2010
    %p
      <span>Hawkes takes all the glory!</span> A dominant performance from  the fledging session sees them take out the prestigous honour of winning the very first Intersession cup!
