.panel.no-scroll
  %h3 Our <span>gallery</span>
  .carousel-wrapper
    %ul#carouselMe
      %li
        %img{:src => "images/main01.jpg"}
      %li.hideMe
        %img{:src => "images/main02.gif"}
      %li.hideMe
        %img{:src => "images/main03.jpg"}
      %li.hideMe
        %img{:src => "images/main04.jpg"}
      %li.hideMe
        %img{:src => "images/main05.jpg"}
      %li.hideMe
        %img{:src => "images/main06.jpg"}
      %li.hideMe
        %img{:src => "images/main07.jpg"}
      %li.hideMe
        %img{:src => "images/main08.jpg"}
      %li.hideMe
        %img{:src => "images/main09.jpg"}
