.panel.double.no-scroll
  .part
    %h3 Welcome <span>to our club</span>
    %img.title{:src => "images/home01.jpg"}
    .title
      %p
        The Filipino Badminton Club of Sydney (FilBCS) is an association of Filipino badminton enthusiasts who share the same passion of playing badminton with <span>friends and families</span>. 
        %a.modal-trigger.extra-info-on-home{href: "#"}
          More info

  .part
    %h3 Photos <span>from previous games</span>
    %img.photo-thumb{:src => "images/home02.jpg"}
    %img.photo-thumb{:src => "images/home03.jpg"}
    %img.photo-thumb{:src => "images/home04.jpg"}
    %img.photo-thumb{:src => "images/home05.jpg"}

.panel.double.no-scroll
  .part
    %h3 News <span>of our club</span>
    .news-feed
      %p.date 21 July 2010
      %p
        <span>Castle Hill CTs Result</span> - The CTs for the upcoming year have been duly elected by the membership. 4-8 Group CTs are: Mark Dasco, Jon Perez, Jason Susas, Robert Valena, Abbie Guanco, Mj Galang and Chris Yatco. Mark Dasco is this year's club chairman. Congratulations to the CTs and we look forward to another successful year

      %p.date 23 January 2010
      %p
        <span>FilBCS Hawkesbury now open</span> - A testimony to the growth and commitment of existing and new members! FilBCS Hawkesbury 4pm-7pm Session is now open. Congratulations to the new CTs on their selection: Ian Fernandez, Al Saulon, Marvin Araullo, Josel Garcia, West Cruz! Your leadership will be pivotal to the success of the session and FilBCS as a whole.
      %p.date 06 December 2009
      %p
        <span>Summer Tournament Finalised</span> - The summer tournament is just around the corner. Registrations are already closed. More details in the events section.
      %p.date 23 January 2010
      %p
        <span>FilBCS Hawkesbury now open</span> - A testimony to the growth and commitment of existing and new members! FilBCS Hawkesbury 4pm-7pm Session is now open. Congratulations to the new CTs on their selection: Lavie Cusi, Glen Macaraeg, Gaye Salac, Rochelle Arroyo, Marvin Araullo! Your leadership will be pivotal to the success of the session and FilBCS as a whole.
      %p.date 06 December 2009
      %p
        <span>Spring Tournament Completed</span> - The toughest tournament to date. Congratulations to the victorious and better luck next time for the rest. More details in the events section.
      %p.date 24 October 2009
      %p
        <span>Spring Tournament Dates Announcend</span> - Book your calendars! Its tournament time. 28th November and 5th December. Register NOW!!
      %p.date 8 August 2009
      %p
        <span>Red Lions</span> take out the FilBCS Teams Challenge 2009 in a tight finish over the FilBCS blues. Details can be found on the Calendar section. Thank you to all for your participation.
      %p.date 19 July 2009
      %p
        <span>Preliminary Tournament</span> has been released. For any queries please contact the programs commitee.
  .part
    %h3 Recent <span>newsletters</span>
    .column
      %a{:href => "#"}
        Smash News 2011 Issue 1
      %a{:href => "#"}
        Smash News 2010 Issue 2
      %a{:href => "#"}
        Smash News 2010 Issue 3
    .column
      %a{:href => "#"}
        Smash News 2010 Issue 4
      %a{:href => "#"}
        Smash News 2010 Issue 5
      %a{:href => "#"}
        Smash News 2010 Issue 6
