.panel.double.no-scroll
  %h3 How to <span>become a member?</span>
  %img{:src => "images/members01.jpg"}
  %p.intro
    <span>FilBCS Membership</span> offers many advantages including participation in all club events, access to badmington training and the ability to sponsor guests.
  %p
    <span>Club Membership</span> is regulated to ensure that members get adequate playing time during club sessions. Interested applicants are put on a waiting list. Membership is granted based on the session quota and an evaluation of compatability with and commitment to the club.
  %p
    Members pay an ongoing monthly member's fee. Interested applicants should contact the <a href="#" target="_blank">club secretariat</a> for more details.

.panel.double
  %h3 Membership <span>guidelines</span>
  %p
    <span>Club Membership</span> is equally a privilege to individuals as it is a commitment to the club and to all other members and guests. During all club activities and regular playing sessions, members must abide by the principles of <span>Mutual Respect</span> and understanding. FilBCS is first and foremost a social club with a strong emphasis on family and friends. All members should at all times be guided by the same principles: Family, friends, Mutual Respect.
  %p
    Members also have responsibilities to club. These include: duly paying their membership fees, keeping the club courts clean and orderly, and highlighting and acting on safety issues at all club venues.
  %p
    All current members and interested members should read the <a href="newsletters/FilBCS Member Handbook v1r5.pdf" target="_blank">FilBCS Member Handbook</a> and make themselves aware of club operations, expectations and general guidelines
  %p
    The member grading policy can also be found <a href="newsletters/FilBCS Ranking Policy.pdf" target="_blank">here</a>.
